# ====================================================================
#   requirements.txt (Final version with tf-keras fix for deployment)
# ====================================================================

# Web Framework and Server
fastapi
uvicorn[standard]
python-multipart

# Core Machine Learning Libraries
numpy
Pillow
pandas

# The DeepFace library and its new dependency
deepface
tf-keras  # <-- THIS IS THE FIX
